<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>latihan flask</title>
</head>
<body>
    
    <!-- <div>
        <ul>
            {% for h in value%}
                <li>halo {{h}}</li>
            {% endfor %}
        </ul>
        {% if suasana == "senang"%}
        <p>dia {{suasana}}</p>
        {% elif suasana == "sedih"%}
        <p>bct ah</p>
        {%else%}
        <p>moleh moleh</p>
        {% endif %}

        {% set haha = "halo"%}
        <p>{{haha}}</p>
    </div> -->

</body>
</html> -->

{% extends "main_layout.html"%}
    {% block content %}
    <p>ini index</p>
    {% endblock %}